[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
bootstrap-flask = "*"
flask-markdown = "*"
setuptools = "*"
python-dotenv = "*"
pytest = "*"
requests = "*"
flask-sqlalchemy = "*"
click = "*"
install = "*"
psycopg2 = "*"
names = "*"

[dev-packages]

[requires]
python_version = "3.9"
