    {% include 'base_templates/head.html' %}
    {% from 'bootstrap/nav.html' import render_nav_item %}
    {% from 'bootstrap/utils.html' import render_icon, render_messages %}
<body style="padding-top: 50px">
    {% include 'base_templates/navbar.html' %}
<div class="alert">{{ render_messages() }}</div>
<main>
    <div class="jumbotron container ">
        {% block content %}{% endblock %}
    </div>
</main>
{% include 'base_templates/footer.html' %}
{{ bootstrap.load_js() }}
<script type="text/javascript"
         src="{{ url_for('static', filename='search.js') }}"></script>
</body>
