<nav class="navbar navbar-expand-md navbar-light fixed-bottom bg-light">
    <div class="mr-auto p-2">
    <span class="navbar-text">
        Created for <a class="nav-link" href="http://foxminded.com.ua/">Foxminded.com.ua</a>
    </span>
    </div>
    <div class="p-2">
    <span class="navbar-text">
        <a href="https://www.digitalocean.com/?refcode=9a2c78b3ac21&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img
                src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg"
                alt="DigitalOcean Referral Badge"/></a>
    </span>
    </div>
</nav>