<!doctype html>
<html lang="en">
<head>
    <title>Students</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script src="{{ url_for('static', filename='search.js') }}"></script>
    {{ bootstrap.load_css() }}
    {% from 'bootstrap/nav.html' import render_nav_item %}
    {% from 'bootstrap/utils.html' import render_icon, render_messages %}
    {{ bootstrap.load_js() }}
<link rel="icon" type='image/x-icon' href="{{ url_for('static', filename='favicon.png') }}"/>
</head>