{% macro modal(id, title) -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <div class="modal-dialog rounded" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalLabel">{{ title }}</h4>
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
            </div>
            <div class="modal-body rounded">
                {{ caller() }}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{%  macro select(title, items) -%}
    <div class="form-group row">
    <label for="select" class="text-muted col-sm-4">{{ title }}</label>
     <div class="col-sm-6">
        <select id="select" class="custom-select" multiple size="{{ items.data | count }}">
            {% for item in items.data %}
              <option value={{ loop.index }}>{{ item }}</option>
            {% endfor %}
        </select>
     </div>
    </div>
{%- endmacro %}

{% macro form_row(placeholder, data) -%}
<div class="form-group row inline">
    <label for="{{ data.name }}" class="col-sm-4 text-muted col-form-label">{{ placeholder }}:</label>
    <div class="col-sm-6">
        <input type="text" class="form-control-plaintext" id={{ data.name }} value={{ data.data }}>
    </div>
</div>
{%- endmacro %}