{% from 'bootstrap/form.html' import render_field, render_form %}
{#{{ render_form(form, form_type='inline') }}#}
<form method="post">
    <div class="form-row">
            {{ render_field(form.first_name, form_type='inline', placeholder="First name") }}
            {{ render_field(form.last_name, form_type='inline', placeholder="Last name") }}
            {{ render_field(form.choice_group, form_type='inline') }}
            {{ render_field(form.choice_course, form_type='inline') }}
        <div class="col">
            {{ render_field(form.submit) }}
        </div>
    </div>
</form>