{% from 'bootstrap/form.html' import render_field %}
<form method="post" class="form">
    {{ search_form.csrf_token() }}
    {{ render_field(search_form.first_name, form_type='inline', placeholder="First name") }}
    {{ render_field(search_form.last_name, form_type='inline', placeholder="Last name") }}
    {{ render_field(search_form.group, form_type='inline') }}
    {{ render_field(search_form.av_courses, form_type='inline') }}
    <div class="align-self-end">{{ render_field(search_form.submit_search) }}</div>
</form>