{% extends "base_templates/base.html" %}
{% block macroses %}
    {% call modal('s_search', 'Search student') %}
        <form method="post" class="form">
            {{ form.csrf_token() }}
            {{ render_field(form.first_name, form_type='inline', placeholder="First name") }}
            {{ render_field(form.last_name, form_type='inline', placeholder="Last name") }}
            {{ render_field(form.group, form_type='inline') }}
            {{ render_field(form.av_courses, form_type='inline') }}
            {{ render_field(form.submit) }}
        </form>
    {% endcall %}
{% endblock %}