{% extends "base_templates/base.html" %}
{% block content %}
    <script>
        let last_modified = {{ l_m }};
    </script>
    <div class="row">
        <div class="col-lg-12 my-6">
            <a class="btn btn-outline-dark float-right" href="{{ url_for('main.search_student') }}" role="button">
                Search student
            </a>
            <a class="btn btn-outline-dark float-right" href="{{ url_for('main.create_student') }}" role="button">
                Create student
            </a>
        </div>
    </div>
    {{ render_my_table(data) }}
{% endblock %}