{% extends "base_templates/base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 my-4">
            <button type="button" class="btn btn-outline-dark float-right " data-toggle="modal"
                    data-target="#CRUD_Modal">
                Create student
            </button>
        </div>
    </div>
{{ render_table(data,  table_classes='table-hover', header_classes='thead-dark', show_actions = True, view_url=url_for('main.student', pk=':primary_key')) }}
{% endblock %}
{% include  'base_templates/search_student.html' %}
{% include  'base_templates/student.html' %}